/*page styles*/
* {margin: 0; padding: 0;}

body {font-family: 'Ubuntu', sans-serif;}

.container {
  max-width: 1020px;
  margin: auto;
}

/*page styles end*/











/*gallery styles*/

.gallery {
  overflow: hidden;
  margin: 20px 0;
}

.gallery img {
  width: 100%;
}

.gallery .item {
  float: left;
  position: relative;
  margin-bottom: -3px;
}

.gallery-col-4 .item {
  width: 25%;
}

.gallery-col-3 .item {
  width: 33.3333333333%;
}

.gallery-col-2 .item {
  width: 50%;
}

.gallery .overlay {
  position: absolute;
  opacity: 0;
  height: 90%;
  width: 94%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  vertical-align: middle;
  transition: opacity 400ms;
  padding: 3%;
}

.overlay h4 {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  top: -20px;
  transition: all 400ms;
  color: #A0A0A0;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.overlay p {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  bottom: -50px;
  transition: all 400ms;
  color: #A0A0A0;
}

.gallery .item:hover .overlay {
  opacity: 1;
  transition: opacity 400ms;
}

.item:hover h4 {
  top: 0;
}

.item:hover p {
  bottom: 0;
}



/*Font Import*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);